<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.buddy.incremental</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/taehoonkwon/workspaces/buddy/core/scripts/buddy-core-incremental.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <array>
        <!-- NY 00:00 (EDT Local Time -> Sydney 14:00) -->
        <dict>
            <key>Hour</key>
            <integer>14</integer>
            <key>Minute</key>
            <integer>2</integer>
        </dict>
        <!-- NY 04:00 (EDT Local Time -> Sydney 18:00) -->
        <dict>
            <key>Hour</key>
            <integer>18</integer>
            <key>Minute</key>
            <integer>4</integer>
        </dict>
    </array>
</dict>
</plist>
